#container{
    width:90%;
    border:0px solid black;

}
#address{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color:rgb(19, 231, 161);
}

input[type=checkbox] {
    accent-color: red;
  }
  
  input[type=radio] {
    accent-color: green;
  }
  
  input[type=range] {
    accent-color: rgb(0, 0, 255);
  }
  
  progress {
    accent-color: hsl(39, 100%, 50%);
  }
  